In [1]:
import numpy as np
import pandas as pd

In [14]:
prices = pd.read_csv('Input Files/prices.csv')

In [15]:
prices

,date,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
0,2002-01-20,NaN,2.93,NaN,NaN,NaN,98.57,3.47,7.88,NaN,...,NaN,182.00,0.60,NaN,2.33,108.60,NaN,NaN,NaN,NaN
1,2002-01-27,NaN,3.14,NaN,NaN,NaN,95.41,3.55,7.70,NaN,...,0.10,175.00,0.75,NaN,2.27,120.80,NaN,NaN,NaN,7.00
2,2002-02-03,NaN,3.09,NaN,NaN,NaN,95.29,3.48,7.91,NaN,...,0.09,175.00,0.60,NaN,2.47,117.15,NaN,NaN,4.25,7.00
3,2002-02-10,NaN,2.91,NaN,NaN,NaN,99.66,3.55,9.55,NaN,...,0.09,209.50,0.60,NaN,2.27,119.35,NaN,NaN,2.30,7.00
4,2002-02-17,NaN,3.01,NaN,NaN,NaN,97.50,4.35,14.06,NaN,...,0.07,205.00,0.65,NaN,2.40,134.80,NaN,NaN,2.25,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145,2023-12-29,5.70,85.35,356.15,787.40,0.64,7674.60,7327.75,171.45,122.00,...,0.10,147.95,6.29,163.80,79.30,3.47,910.00,24800.0,113.95,121.08
1146,2024-01-07,7.10,NaN,355.15,801.05,NaN,8066.10,7711.15,199.45,124.50,...,NaN,156.00,NaN,157.45,81.05,3.33,933.00,29300.0,120.00,125.70
1147,2024-01-14,6.55,NaN,368.60,788.35,NaN,8051.55,7661.05,213.85,133.30,...,NaN,146.60,NaN,152.40,84.00,3.35,918.25,27700.0,125.20,117.05
1148,2024-01-21,5.95,NaN,358.60,747.50,NaN,8261.55,7301.30,242.15,151.30,...,NaN,146.30,NaN,169.30,81.60,3.30,892.45,27500.0,119.30,124.75
1149,2024-01-28,5.85,NaN,352.25,707.85,NaN,8194.70,7085.50,232.55,135.35,...,NaN,146.85,NaN,172.75,76.85,3.12,889.40,27500.0,118.00,125.25

In [16]:
prices['date'] = pd.to_datetime(prices['date'])

# Set the 'date' column as the index for easier manipulation
prices.set_index('date', inplace=True)

In [17]:
prices

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
date,,,,,,,,,,,,,,,,,,,,,
2002-01-20,NaN,2.93,NaN,NaN,NaN,98.57,3.47,7.88,NaN,NaN,...,NaN,182.00,0.60,NaN,2.33,108.60,NaN,NaN,NaN,NaN
2002-01-27,NaN,3.14,NaN,NaN,NaN,95.41,3.55,7.70,NaN,NaN,...,0.10,175.00,0.75,NaN,2.27,120.80,NaN,NaN,NaN,7.00
2002-02-03,NaN,3.09,NaN,NaN,NaN,95.29,3.48,7.91,NaN,NaN,...,0.09,175.00,0.60,NaN,2.47,117.15,NaN,NaN,4.25,7.00
2002-02-10,NaN,2.91,NaN,NaN,NaN,99.66,3.55,9.55,NaN,NaN,...,0.09,209.50,0.60,NaN,2.27,119.35,NaN,NaN,2.30,7.00
2002-02-17,NaN,3.01,NaN,NaN,NaN,97.50,4.35,14.06,NaN,NaN,...,0.07,205.00,0.65,NaN,2.40,134.80,NaN,NaN,2.25,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-29,5.70,85.35,356.15,787.40,0.64,7674.60,7327.75,171.45,122.00,1182.00,...,0.10,147.95,6.29,163.80,79.30,3.47,910.00,24800.0,113.95,121.08
2024-01-07,7.10,NaN,355.15,801.05,NaN,8066.10,7711.15,199.45,124.50,1341.30,...,NaN,156.00,NaN,157.45,81.05,3.33,933.00,29300.0,120.00,125.70
2024-01-14,6.55,NaN,368.60,788.35,NaN,8051.55,7661.05,213.85,133.30,1365.55,...,NaN,146.60,NaN,152.40,84.00,3.35,918.25,27700.0,125.20,117.05
2024-01-21,5.95,NaN,358.60,747.50,NaN,8261.55,7301.30,242.15,151.30,1318.05,...,NaN,146.30,NaN,169.30,81.60,3.30,892.45,27500.0,119.30,124.75
2024-01-28,5.85,NaN,352.25,707.85,NaN,8194.70,7085.50,232.55,135.35,1258.45,...,NaN,146.85,NaN,172.75,76.85,3.12,889.40,27500.0,118.00,125.25

In [26]:
weekly_returns = prices.pct_change()*100

# Reset the index to have the 'date' column back

In [27]:
weekly_returns

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
date,,,,,,,,,,,,,,,,,,,,,
2002-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-27,NaN,7.167235,NaN,NaN,NaN,-3.205844,2.305476,-2.284264,NaN,NaN,...,NaN,-3.846154,25.000000,NaN,-2.575107,11.233886,NaN,NaN,NaN,NaN
2002-02-03,NaN,-1.592357,NaN,NaN,NaN,-0.125773,-1.971831,2.727273,NaN,NaN,...,-10.000000,0.000000,-20.000000,NaN,8.810573,-3.021523,NaN,NaN,NaN,0.000000
2002-02-10,NaN,-5.825243,NaN,NaN,NaN,4.586001,2.011494,20.733249,NaN,NaN,...,0.000000,19.714286,0.000000,NaN,-8.097166,1.877934,NaN,NaN,-45.882353,0.000000
2002-02-17,NaN,3.436426,NaN,NaN,NaN,-2.167369,22.535211,47.225131,NaN,NaN,...,-22.222222,-2.147971,8.333333,NaN,5.726872,12.945119,NaN,NaN,-2.173913,42.857143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-29,-9.523810,0.000000,0.721154,2.867594,0.0,-2.079718,0.444807,6.490683,3.258570,-4.112923,...,0.000000,0.646259,0.000000,5.643341,-1.612903,-3.878116,2.743593,-5.707007,3.496821,-6.197707
2024-01-07,24.561404,0.000000,-0.280781,1.733553,0.0,5.101243,5.232165,16.331292,2.049180,13.477157,...,0.000000,5.441027,0.000000,-3.876679,2.206810,-4.034582,2.527473,18.145161,5.309346,3.815659
2024-01-14,-7.746479,0.000000,3.787132,-1.585419,0.0,-0.180385,-0.649709,7.219855,7.068273,1.807948,...,0.000000,-6.025641,0.000000,-3.207367,3.639729,0.600601,-1.580922,-5.460751,4.333333,-6.881464
2024-01-21,-9.160305,0.000000,-2.712968,-5.181709,0.0,2.608193,-4.695832,13.233575,13.503376,-3.478452,...,0.000000,-0.204638,0.000000,11.089239,-2.857143,-1.492537,-2.809692,-0.722022,-4.712460,6.578385
2024-01-28,-1.680672,0.000000,-1.770775,-5.304348,0.0,-0.809170,-2.955638,-3.964485,-10.541970,-4.521831,...,0.000000,0.375940,0.000000,2.037803,-5.821078,-5.454545,-0.341756,0.000000,-1.089690,0.400802

In [41]:
weekly_volatility = weekly_returns.rolling(window=156).std()

In [42]:
weekly_volatility

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
date,,,,,,,,,,,,,,,,,,,,,
2002-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-29,10.079634,4.052511,7.323083,4.721887,2.117312e-07,4.156739,4.270888,4.361593,8.230996,7.929522,...,0.0,6.565453,3.608802,7.155544,6.913655,7.711045,3.061757,6.169024,9.236564,8.951077
2024-01-07,10.243597,3.959405,7.314868,4.721205,2.117312e-07,4.171830,4.276476,4.539671,8.210366,7.853131,...,0.0,6.543046,2.858279,7.155066,6.912674,7.683422,3.044003,6.320586,9.233929,8.954240
2024-01-14,10.264853,3.959544,7.294233,4.719760,2.117312e-07,4.170571,4.263477,4.560805,8.219219,7.850512,...,0.0,6.544208,2.652663,7.161976,6.916220,7.623601,3.047578,6.340430,9.229579,8.911508
2024-01-21,10.258960,3.900441,7.298605,4.735155,2.117312e-07,4.170672,4.281130,4.640844,8.276031,7.863287,...,0.0,6.539116,2.646511,7.186233,6.900953,7.611342,3.053655,6.341608,9.243044,8.913085
2024-01-28,10.138527,3.840322,7.267126,4.750899,2.117312e-07,4.169875,4.269493,4.654372,8.300316,7.881170,...,0.0,6.533991,2.619271,7.178340,6.915887,7.618648,3.051554,6.341241,9.232750,8.831775

In [47]:
import pandas as pd 
volatility = weekly_volatility

# Add a new column 'quarter' that labels the quarter for each datapoint
volatility['quarter'] = weekly_volatility.index.to_period('Q')

volatility

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity,quarter
date,,,,,,,,,,,,,,,,,,,,,
2002-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002Q1
2002-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002Q1
2002-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002Q1
2002-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002Q1
2002-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-29,10.079634,4.052511,7.323083,4.721887,2.117312e-07,4.156739,4.270888,4.361593,8.230996,7.929522,...,6.565453,3.608802,7.155544,6.913655,7.711045,3.061757,6.169024,9.236564,8.951077,2023Q4
2024-01-07,10.243597,3.959405,7.314868,4.721205,2.117312e-07,4.171830,4.276476,4.539671,8.210366,7.853131,...,6.543046,2.858279,7.155066,6.912674,7.683422,3.044003,6.320586,9.233929,8.954240,2024Q1
2024-01-14,10.264853,3.959544,7.294233,4.719760,2.117312e-07,4.170571,4.263477,4.560805,8.219219,7.850512,...,6.544208,2.652663,7.161976,6.916220,7.623601,3.047578,6.340430,9.229579,8.911508,2024Q1
2024-01-21,10.258960,3.900441,7.298605,4.735155,2.117312e-07,4.170672,4.281130,4.640844,8.276031,7.863287,...,6.539116,2.646511,7.186233,6.900953,7.611342,3.053655,6.341608,9.243044,8.913085,2024Q1
2024-01-28,10.138527,3.840322,7.267126,4.750899,2.117312e-07,4.169875,4.269493,4.654372,8.300316,7.881170,...,6.533991,2.619271,7.178340,6.915887,7.618648,3.051554,6.341241,9.232750,8.831775,2024Q1

In [48]:
# Create a new DataFrame with only the last datapoint for each quarter
vol_quarterly = volatility.resample('Q').last()

In [49]:
vol_quarterly

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity,quarter
date,,,,,,,,,,,,,,,,,,,,,
2002-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002Q1
2002-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002Q2
2002-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002Q3
2002-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002Q4
2003-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-31,10.542281,5.317274,8.845954,6.054781,2.117312e-07,4.781099,5.958207,4.427126,12.806927,NaN,...,6.987101,5.460730,6.830165,8.523066,7.505195,3.941245,5.083172,9.758947,9.096745,2023Q1
2023-06-30,10.269247,4.762348,8.202704,5.392370,2.117312e-07,4.401564,4.869756,4.203034,11.631338,NaN,...,6.536667,4.089442,7.214927,7.164579,7.229984,3.545945,4.871784,10.282232,8.991274,2023Q2
2023-09-30,9.746215,4.525570,8.106427,4.899754,2.117312e-07,4.255473,4.671367,4.192514,11.726272,8.315505,...,6.248080,3.816072,7.198747,6.857978,7.273307,3.010880,5.557567,9.746158,9.010409,2023Q3
2023-12-31,10.079634,4.052511,7.323083,4.721887,2.117312e-07,4.156739,4.270888,4.361593,8.230996,7.929522,...,6.565453,3.608802,7.155544,6.913655,7.711045,3.061757,6.169024,9.236564,8.951077,2023Q4
2024-03-31,10.138527,3.840322,7.267126,4.750899,2.117312e-07,4.169875,4.269493,4.654372,8.300316,7.881170,...,6.533991,2.619271,7.178340,6.915887,7.618648,3.051554,6.341241,9.232750,8.831775,2024Q1

In [50]:
vol_quarterly.set_index('quarter', inplace=True)

In [51]:
vol_quarterly

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
quarter,,,,,,,,,,,,,,,,,,,,,
2002Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023Q1,10.542281,5.317274,8.845954,6.054781,2.117312e-07,4.781099,5.958207,4.427126,12.806927,NaN,...,0.0,6.987101,5.460730,6.830165,8.523066,7.505195,3.941245,5.083172,9.758947,9.096745
2023Q2,10.269247,4.762348,8.202704,5.392370,2.117312e-07,4.401564,4.869756,4.203034,11.631338,NaN,...,0.0,6.536667,4.089442,7.214927,7.164579,7.229984,3.545945,4.871784,10.282232,8.991274
2023Q3,9.746215,4.525570,8.106427,4.899754,2.117312e-07,4.255473,4.671367,4.192514,11.726272,8.315505,...,0.0,6.248080,3.816072,7.198747,6.857978,7.273307,3.010880,5.557567,9.746158,9.010409
2023Q4,10.079634,4.052511,7.323083,4.721887,2.117312e-07,4.156739,4.270888,4.361593,8.230996,7.929522,...,0.0,6.565453,3.608802,7.155544,6.913655,7.711045,3.061757,6.169024,9.236564,8.951077
2024Q1,10.138527,3.840322,7.267126,4.750899,2.117312e-07,4.169875,4.269493,4.654372,8.300316,7.881170,...,0.0,6.533991,2.619271,7.178340,6.915887,7.618648,3.051554,6.341241,9.232750,8.831775

In [52]:
vol_quarterly.to_excel('processed data/quarterly volatility.xlsx')
weekly_returns.to_excel('processed data/weekly returns.xlsx')

In [66]:
prices

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity,quarter
date,,,,,,,,,,,,,,,,,,,,,
2002-01-20,NaN,2.93,NaN,NaN,NaN,98.57,3.47,7.88,NaN,NaN,...,182.00,0.60,NaN,2.33,108.60,NaN,NaN,NaN,NaN,2002Q1
2002-01-27,NaN,3.14,NaN,NaN,NaN,95.41,3.55,7.70,NaN,NaN,...,175.00,0.75,NaN,2.27,120.80,NaN,NaN,NaN,7.00,2002Q1
2002-02-03,NaN,3.09,NaN,NaN,NaN,95.29,3.48,7.91,NaN,NaN,...,175.00,0.60,NaN,2.47,117.15,NaN,NaN,4.25,7.00,2002Q1
2002-02-10,NaN,2.91,NaN,NaN,NaN,99.66,3.55,9.55,NaN,NaN,...,209.50,0.60,NaN,2.27,119.35,NaN,NaN,2.30,7.00,2002Q1
2002-02-17,NaN,3.01,NaN,NaN,NaN,97.50,4.35,14.06,NaN,NaN,...,205.00,0.65,NaN,2.40,134.80,NaN,NaN,2.25,10.00,2002Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-29,5.70,85.35,356.15,787.40,0.64,7674.60,7327.75,171.45,122.00,1182.00,...,147.95,6.29,163.80,79.30,3.47,910.00,24800.0,113.95,121.08,2023Q4
2024-01-07,7.10,NaN,355.15,801.05,NaN,8066.10,7711.15,199.45,124.50,1341.30,...,156.00,NaN,157.45,81.05,3.33,933.00,29300.0,120.00,125.70,2024Q1
2024-01-14,6.55,NaN,368.60,788.35,NaN,8051.55,7661.05,213.85,133.30,1365.55,...,146.60,NaN,152.40,84.00,3.35,918.25,27700.0,125.20,117.05,2024Q1
2024-01-21,5.95,NaN,358.60,747.50,NaN,8261.55,7301.30,242.15,151.30,1318.05,...,146.30,NaN,169.30,81.60,3.30,892.45,27500.0,119.30,124.75,2024Q1
2024-01-28,5.85,NaN,352.25,707.85,NaN,8194.70,7085.50,232.55,135.35,1258.45,...,146.85,NaN,172.75,76.85,3.12,889.40,27500.0,118.00,125.25,2024Q1

In [68]:
prices.drop(columns=['quarter'], inplace=True)

price_4_weeks_ago = prices.shift(4)
price_52_weeks_ago = prices.shift(52)

# Calculate momentum as the ratio of price 4 weeks ago to price 52 weeks ago
momentum = price_4_weeks_ago / price_52_weeks_ago

momentum['quarter'] = momentum.index.to_period('Q')
mom_quarterly = momentum.resample('Q').last()
mom_quarterly.set_index('quarter', inplace=True)
mom_quarterly

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
quarter,,,,,,,,,,,,,,,,,,,,,
2002Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003Q1,NaN,2.013115,NaN,NaN,1.0,1.101415,1.074163,0.995434,0.122324,NaN,...,1.666667,0.660528,1.588235,NaN,1.160279,0.459468,NaN,NaN,4.263158,2.082353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023Q1,0.719298,1.000000,1.502937,0.991791,1.0,1.220868,0.894278,1.120062,0.896258,1.270777,...,1.000000,0.964427,1.000000,1.813910,0.608696,0.868217,0.910615,0.965231,1.526316,0.486313
2023Q2,1.089552,1.000000,1.832019,1.266498,1.0,1.523021,1.235649,1.812987,1.111702,2.543571,...,1.000000,0.931209,1.000000,2.144727,0.675013,0.796296,0.957908,0.864407,6.755725,1.042216
2023Q3,1.075000,1.000000,1.319963,1.156306,1.0,1.054698,0.960618,2.426380,1.100881,3.154465,...,1.000000,0.833714,1.000000,2.330275,0.657383,0.807087,1.178953,1.411290,6.887417,0.773618
2023Q4,1.189189,1.000000,1.177947,1.134464,1.0,1.277153,1.104050,1.922004,1.078031,2.528260,...,1.000000,1.741417,1.000000,1.516302,0.805879,1.375510,1.431054,2.423678,7.476341,1.059813
2024Q1,1.443038,1.000000,0.954186,1.303750,1.0,1.299678,1.272024,2.063177,1.221221,2.731685,...,1.000000,2.395951,1.000000,1.511767,1.027202,1.382470,1.446166,2.028630,6.864458,1.332746

In [69]:
mom_quarterly.to_excel('processed data/quarterly momentum.xlsx')

In [58]:
prices2 = prices
prices2['quarter'] = prices2.index.to_period('Q')
price_quarterly = prices2.resample('Q').last()
price_quarterly.set_index('quarter', inplace=True)
price_quarterly

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
quarter,,,,,,,,,,,,,,,,,,,,,
2002Q1,NaN,3.05,NaN,NaN,9.55,101.76,4.18,21.90,16.35,NaN,...,0.06,249.80,0.85,NaN,2.87,157.90,NaN,NaN,1.90,4.25
2002Q2,NaN,8.93,NaN,NaN,9.55,110.17,5.29,31.14,9.35,NaN,...,0.13,240.00,3.35,NaN,6.07,171.50,NaN,NaN,8.20,9.15
2002Q3,NaN,5.02,NaN,NaN,9.55,86.77,4.40,26.47,8.00,NaN,...,0.06,171.00,1.35,1.00,3.67,91.45,NaN,NaN,4.90,10.00
2002Q4,NaN,5.70,NaN,NaN,9.55,110.20,4.23,24.05,5.45,NaN,...,0.07,165.00,1.75,1.00,5.07,88.35,NaN,NaN,10.60,12.80
2003Q1,7.00,4.99,NaN,NaN,9.55,106.35,4.27,20.46,3.25,NaN,...,0.08,135.05,1.35,1.00,2.60,58.50,NaN,NaN,6.00,8.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023Q1,3.40,85.35,342.20,559.90,0.64,6034.25,5649.25,74.20,88.65,449.15,...,0.10,51.02,6.29,84.87,61.40,2.15,572.90,11450.0,26.85,61.67
2023Q2,4.85,85.35,383.20,736.70,0.64,6832.30,6989.65,112.95,94.05,835.65,...,0.10,60.79,6.29,126.60,66.60,1.90,665.45,12848.9,103.10,66.51
2023Q3,3.55,85.35,353.80,744.55,0.64,7332.05,7471.35,144.15,113.60,1062.70,...,0.10,69.26,6.29,139.25,65.10,2.51,812.00,18200.0,101.45,92.33
2023Q4,5.70,85.35,356.15,787.40,0.64,7674.60,7327.75,171.45,122.00,1182.00,...,0.10,147.95,6.29,163.80,79.30,3.47,910.00,24800.0,113.95,121.08
2024Q1,5.85,NaN,352.25,707.85,NaN,8194.70,7085.50,232.55,135.35,1258.45,...,NaN,146.85,NaN,172.75,76.85,3.12,889.40,27500.0,118.00,125.25

In [59]:
price_quarterly.to_excel('processed data/quarterly price.xlsx')

In [ ]:
price_4_weeks_ago = dataframe.shift(4)
price_52_weeks_ago = dataframe.shift(52)

# Calculate momentum as the ratio of price 4 weeks ago to price 52 weeks ago
momentum = price_4_weeks_ago / price_52_weeks_ago

In [72]:
monthly_div = pd.read_excel('Input Files/dividend_yield.xlsx')

In [73]:
dividends = monthly_div

In [79]:


dividends['Dates'] = pd.to_datetime(dividends['Dates'])
dividends.set_index('Dates', inplace=True)

dividends['quarter'] = dividends.index.to_period('Q')

div_quarterly = dividends.resample('Q').last()
div_quarterly.set_index('quarter', inplace=True)
div_quarterly

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
quarter,,,,,,,,,,,,,,,,,,,,,
2002Q1,NaN,5.6980,NaN,NaN,NaN,7.4608,6.3830,2.5500,NaN,NaN,...,NaN,6.0048,NaN,NaN,NaN,1.2666,NaN,NaN,NaN,17.6991
2002Q2,NaN,5.6980,NaN,NaN,NaN,7.4608,5.0420,1.7929,NaN,NaN,...,NaN,6.2500,NaN,NaN,NaN,1.1662,NaN,NaN,NaN,17.6991
2002Q3,NaN,5.6980,NaN,NaN,NaN,2.3656,9.0543,0.9067,NaN,NaN,...,NaN,5.3476,NaN,NaN,NaN,2.7824,NaN,NaN,NaN,17.6991
2002Q4,NaN,5.6980,NaN,NaN,NaN,1.8344,9.4737,0.9721,NaN,NaN,...,NaN,6.0606,NaN,NaN,NaN,2.7871,NaN,NaN,NaN,17.6991
2003Q1,NaN,5.6980,NaN,NaN,NaN,1.9210,9.6567,1.1222,NaN,NaN,...,NaN,7.4047,NaN,NaN,NaN,4.2194,NaN,NaN,NaN,17.6991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023Q1,1.0116,1.0604,0.6026,0.0863,NaN,3.7162,0.3561,4.0296,1.2143,3.5048,...,NaN,4.7581,4.5147,NaN,4.1459,6.2612,1.2847,1.8517,2.642,3.6145
2023Q2,1.0116,1.0604,0.5173,0.0663,NaN,1.7560,0.4190,2.6098,1.0325,1.7203,...,NaN,4.7581,4.5147,NaN,3.7793,6.2612,1.0517,1.5094,2.642,3.6145
2023Q3,1.0116,1.0604,0.5781,0.1402,NaN,1.7303,0.3841,2.0346,0.8949,1.4764,...,NaN,4.7581,4.5147,NaN,1.1424,6.2612,0.8388,1.8233,2.642,3.6145
2023Q4,1.0116,1.0604,0.5616,0.1270,NaN,1.6027,0.4094,1.7498,0.8197,1.5228,...,NaN,4.7581,4.5147,NaN,0.9458,6.2612,0.8388,1.3105,2.642,3.6145
2024Q1,1.0116,1.0604,0.5656,0.1571,NaN,1.4702,0.4371,1.2829,0.7265,2.0629,...,NaN,4.7581,4.5147,NaN,0.9524,6.2612,0.8388,1.1444,2.642,3.6145

In [80]:
div_quarterly.to_excel('processed data/quarterly dividend yield.xlsx')

In [84]:
outstanding = pd.read_csv('Input Files/outstanding_shares.csv')
outstanding['Dates'] = pd.to_datetime(outstanding['Dates'])
outstanding.set_index('Dates', inplace=True)

rolling_24_month_avg = outstanding.rolling(window=24, min_periods=24).mean()

# Calculate the buyback yield
buyback_yield = ((outstanding - rolling_24_month_avg) / rolling_24_month_avg)*-1

In [85]:
buyback_yield

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
Dates,,,,,,,,,,,,,,,,,,,,,
2002-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-29,-1.650966e-16,-0.0,-0.0,-0.026548,-0.0,-0.000000e+00,-0.001327,0.005153,-0.0,-0.000000e+00,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.000435,-0.0,-0.383235,-1.486491e-16
2023-10-31,-1.650966e-16,-0.0,-0.0,-0.024108,-0.0,-1.276875e-16,-0.001164,-0.000000,-0.0,-0.000000e+00,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.000361,-0.0,-0.350297,-1.486491e-16
2023-11-30,1.650966e-16,-0.0,-0.0,-0.021612,-0.0,-0.000000e+00,-0.020147,-0.000000,-0.0,1.498277e-16,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.000326,-0.0,-0.357696,1.486491e-16
2023-12-29,1.650966e-16,-0.0,-0.0,-0.019319,-0.0,-0.000000e+00,-0.019133,-0.000000,-0.0,1.498277e-16,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.000291,-0.0,-0.324672,1.486491e-16
2024-01-31,1.650966e-16,-0.0,-0.0,-0.016671,-0.0,-1.276875e-16,-0.018121,-0.000000,-0.0,1.498277e-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
buyback_yield['quarter'] = buyback_yield.index.to_period('Q')

bb_quarterly = buyback_yield.resample('Q').last()
bb_quarterly.set_index('quarter', inplace=True)
bb_quarterly

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
quarter,,,,,,,,,,,,,,,,,,,,,
2002Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023Q1,1.650966e-16,-0.0,-0.0,-0.041332,-0.0,-0.000000e+00,-0.001488,0.034989,1.265572e-16,-6.465517e-02,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.000614,-0.0,-0.293712,-1.486491e-16
2023Q2,-1.650966e-16,-0.0,-0.0,-0.033233,-0.0,-1.276875e-16,-0.001815,0.020298,1.265572e-16,-0.000000e+00,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.000426,-0.0,-0.368490,1.486491e-16
2023Q3,-1.650966e-16,-0.0,-0.0,-0.026548,-0.0,-0.000000e+00,-0.001327,0.005153,-0.000000e+00,-0.000000e+00,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.000435,-0.0,-0.383235,-1.486491e-16
2023Q4,1.650966e-16,-0.0,-0.0,-0.019319,-0.0,-0.000000e+00,-0.019133,-0.000000,-0.000000e+00,1.498277e-16,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.000291,-0.0,-0.324672,1.486491e-16
2024Q1,1.650966e-16,-0.0,-0.0,-0.016671,-0.0,-1.276875e-16,-0.018121,-0.000000,-0.000000e+00,1.498277e-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
npy_quarterly = bb_quarterly + div_quarterly
npy_quarterly

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
quarter,,,,,,,,,,,,,,,,,,,,,
2002Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023Q1,1.0116,1.0604,0.6026,0.044968,NaN,3.7162,0.354612,4.064589,1.2143,3.440145,...,NaN,4.7581,4.5147,NaN,4.1459,6.2612,1.284086,1.8517,2.348288,3.6145
2023Q2,1.0116,1.0604,0.5173,0.033067,NaN,1.7560,0.417185,2.630098,1.0325,1.720300,...,NaN,4.7581,4.5147,NaN,3.7793,6.2612,1.051274,1.5094,2.273510,3.6145
2023Q3,1.0116,1.0604,0.5781,0.113652,NaN,1.7303,0.382773,2.039753,0.8949,1.476400,...,NaN,4.7581,4.5147,NaN,1.1424,6.2612,0.838365,1.8233,2.258765,3.6145
2023Q4,1.0116,1.0604,0.5616,0.107681,NaN,1.6027,0.390267,1.749800,0.8197,1.522800,...,NaN,4.7581,4.5147,NaN,0.9458,6.2612,0.838509,1.3105,2.317328,3.6145
2024Q1,1.0116,1.0604,0.5656,0.140429,NaN,1.4702,0.418979,1.282900,0.7265,2.062900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
bb_quarterly.to_excel('processed data/quarterly buyback yield.xlsx')
npy_quarterly.to_excel('processed data/quarterly net payout yield.xlsx')

In [92]:
topmcap = pd.read_csv('Input Files/top1100mkcap_mapping.csv')

In [93]:
topmcap

,dates,1,2,3,4,5,6,7,8,9,...,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099
0,30-01-2004,WLCO IN Equity,CTE IN Equity,PVPV IN Equity,RNSP IN Equity,NES IN Equity,KHOD IN Equity,JEL IN Equity,LKML IN Equity,JBF IN Equity,...,KNPL IN Equity,NEST IN Equity,NOCIL IN Equity,FNXP IN Equity,MPHL IN Equity,GTFL IN Equity,JBCP IN Equity,GKW IN Equity,PRICOL IN Equity,BETADR IN Equity
1,27-02-2004,WLCO IN Equity,CTE IN Equity,PVPV IN Equity,RNSP IN Equity,KRETSYS IN Equity,KHOD IN Equity,JEL IN Equity,LKML IN Equity,JBF IN Equity,...,NEST IN Equity,NIPR IN Equity,NOCIL IN Equity,FNXP IN Equity,MPHL IN Equity,GTFL IN Equity,JBCP IN Equity,GKW IN Equity,PRICOL IN Equity,BETADR IN Equity
2,31-03-2004,WLCO IN Equity,CTE IN Equity,PVPV IN Equity,RNSP IN Equity,KRETSYS IN Equity,KHOD IN Equity,JEL IN Equity,LKML IN Equity,JBF IN Equity,...,NEST IN Equity,NIPR IN Equity,NOCIL IN Equity,FNXP IN Equity,MPHL IN Equity,GTFL IN Equity,JBCP IN Equity,GKW IN Equity,PRICOL IN Equity,BETADR IN Equity
3,30-04-2004,WLCO IN Equity,CTE IN Equity,PVPV IN Equity,RNSP IN Equity,KHOD IN Equity,JEL IN Equity,LKML IN Equity,JBF IN Equity,SUSM IN Equity,...,NEST IN Equity,NIPR IN Equity,NOCIL IN Equity,FNXP IN Equity,MPHL IN Equity,GTFL IN Equity,JBCP IN Equity,GKW IN Equity,PRICOL IN Equity,BETADR IN Equity
4,31-05-2004,WLCO IN Equity,CTE IN Equity,PVPV IN Equity,RNSP IN Equity,KRETSYS IN Equity,KHOD IN Equity,JEL IN Equity,LKML IN Equity,JBF IN Equity,...,NEST IN Equity,NIPR IN Equity,NOCIL IN Equity,FNXP IN Equity,MPHL IN Equity,GTFL IN Equity,JBCP IN Equity,GKW IN Equity,PRICOL IN Equity,BETADR IN Equity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,29-09-2023,WLCO IN Equity,CTE IN Equity,TDPS IN Equity,GLIN IN Equity,JINW IN Equity,SRTY IN Equity,HEIM IN Equity,MAXF IN Equity,VIP IN Equity,...,CYIENTDL IN Equity,IDEAFORG IN Equity,UTKARSHB IN Equity,JIOFIN IN Equity,YATHARTH IN Equity,TVSSCS IN Equity,RISHABH IN Equity,JLHL IN Equity,YATRA IN Equity,ZAGGLE IN Equity
237,31-10-2023,WLCO IN Equity,CTE IN Equity,TDPS IN Equity,GLIN IN Equity,JINW IN Equity,SRTY IN Equity,HEIM IN Equity,MAXF IN Equity,VIP IN Equity,...,TVSSCS IN Equity,RISHABH IN Equity,JLHL IN Equity,YATRA IN Equity,ZAGGLE IN Equity,JSWINFRA IN Equity,UDS IN Equity,IRMENERG IN Equity,ISCITRUS IN Equity,MAXESTAT IN Equity
238,30-11-2023,WLCO IN Equity,CTE IN Equity,TDPS IN Equity,GLIN IN Equity,JINW IN Equity,SRTY IN Equity,HEIM IN Equity,MAXF IN Equity,VIP IN Equity,...,UDS IN Equity,IRMENERG IN Equity,ISCITRUS IN Equity,BLUEJET IN Equity,CELLO IN Equity,HONASA IN Equity,MAXESTAT IN Equity,PROTEAN IN Equity,FEDFINA IN Equity,GANDHAR IN Equity
239,29-12-2023,WLCO IN Equity,CTE IN Equity,TDPS IN Equity,GLIN IN Equity,JINW IN Equity,SRTY IN Equity,HEIM IN Equity,MAXF IN Equity,VIP IN Equity,...,BLUEJET IN Equity,CELLO IN Equity,HONASA IN Equity,MAXESTAT IN Equity,PROTEAN IN Equity,FEDFINA IN Equity,GANDHAR IN Equity,DOMS IN Equity,MUFTI IN Equity,INNOVACA IN Equity
240,31-01-2024,WLCO IN Equity,CTE IN Equity,TDPS IN Equity,GLIN IN Equity,JINW IN Equity,SRTY IN Equity,HEIM IN Equity,MAXF IN Equity,VIP IN Equity,...,BLUEJET IN Equity,CELLO IN Equity,HONASA IN Equity,MAXESTAT IN Equity,PROTEAN IN Equity,FEDFINA IN Equity,GANDHAR IN Equity,DOMS IN Equity,MUFTI IN Equity,INNOVACA IN Equity

In [95]:

topmcap['dates'] = pd.to_datetime(topmcap['dates'])
topmcap.set_index('dates', inplace=True)

topmcap['quarter'] = topmcap.index.to_period('Q')

mcap_mapping_quarterly = topmcap.resample('Q').last()
mcap_mapping_quarterly.set_index('quarter', inplace=True)
mcap_mapping_quarterly

,1,2,3,4,5,6,7,8,9,10,...,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099
quarter,,,,,,,,,,,,,,,,,,,,,
2004Q1,WLCO IN Equity,CTE IN Equity,PVPV IN Equity,RNSP IN Equity,KRETSYS IN Equity,KHOD IN Equity,JEL IN Equity,LKML IN Equity,JBF IN Equity,SUSM IN Equity,...,NEST IN Equity,NIPR IN Equity,NOCIL IN Equity,FNXP IN Equity,MPHL IN Equity,GTFL IN Equity,JBCP IN Equity,GKW IN Equity,PRICOL IN Equity,BETADR IN Equity
2004Q2,WLCO IN Equity,CTE IN Equity,PVPV IN Equity,RNSP IN Equity,KHOD IN Equity,JEL IN Equity,LKML IN Equity,JBF IN Equity,SUSM IN Equity,SKY IN Equity,...,NEST IN Equity,NIPR IN Equity,NOCIL IN Equity,FNXP IN Equity,MPHL IN Equity,GTFL IN Equity,JBCP IN Equity,GKW IN Equity,PRICOL IN Equity,BETADR IN Equity
2004Q3,WLCO IN Equity,CTE IN Equity,PVPV IN Equity,RNSP IN Equity,KHOD IN Equity,JEL IN Equity,LKML IN Equity,JBF IN Equity,SUSM IN Equity,KNEL IN Equity,...,NEST IN Equity,NIPR IN Equity,NOCIL IN Equity,FNXP IN Equity,MPHL IN Equity,GTFL IN Equity,JBCP IN Equity,GKW IN Equity,PRICOL IN Equity,BETADR IN Equity
2004Q4,WLCO IN Equity,CTE IN Equity,PVPV IN Equity,RNSP IN Equity,KHOD IN Equity,JEL IN Equity,LKML IN Equity,JBF IN Equity,SUSM IN Equity,KNEL IN Equity,...,NEST IN Equity,NOCIL IN Equity,KTG IN Equity,FNXP IN Equity,MPHL IN Equity,GTFL IN Equity,JBCP IN Equity,GKW IN Equity,PRICOL IN Equity,BETADR IN Equity
2005Q1,WLCO IN Equity,CTE IN Equity,PVPV IN Equity,RNSP IN Equity,KHOD IN Equity,JEL IN Equity,LKML IN Equity,JBF IN Equity,SUSM IN Equity,KNEL IN Equity,...,NIPR IN Equity,NOCIL IN Equity,KTG IN Equity,FNXP IN Equity,MPHL IN Equity,ERR IN Equity,GTFL IN Equity,JBCP IN Equity,GKW IN Equity,PRICOL IN Equity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023Q1,WLCO IN Equity,CTE IN Equity,TDPS IN Equity,GLIN IN Equity,JINW IN Equity,SRTY IN Equity,HEIM IN Equity,MAXF IN Equity,CCF IN Equity,VIP IN Equity,...,HARSHA IN Equity,EMIL IN Equity,DCXINDIA IN Equity,ACI IN Equity,BIKAJI IN Equity,RUSTOMJE IN Equity,ANZEN IN Equity,LANDMARK IN Equity,KFINTECH IN Equity,AHL IN Equity
2023Q2,WLCO IN Equity,CTE IN Equity,TDPS IN Equity,GLIN IN Equity,JINW IN Equity,SRTY IN Equity,HEIM IN Equity,MAXF IN Equity,VIP IN Equity,GNP IN Equity,...,ACI IN Equity,BIKAJI IN Equity,RUSTOMJE IN Equity,ANZEN IN Equity,LANDMARK IN Equity,KFINTECH IN Equity,AHL IN Equity,CUBEINVI IN Equity,NXST IN Equity,IHCT IN Equity
2023Q3,WLCO IN Equity,CTE IN Equity,TDPS IN Equity,GLIN IN Equity,JINW IN Equity,SRTY IN Equity,HEIM IN Equity,MAXF IN Equity,VIP IN Equity,GNP IN Equity,...,CYIENTDL IN Equity,IDEAFORG IN Equity,UTKARSHB IN Equity,JIOFIN IN Equity,YATHARTH IN Equity,TVSSCS IN Equity,RISHABH IN Equity,JLHL IN Equity,YATRA IN Equity,ZAGGLE IN Equity
2023Q4,WLCO IN Equity,CTE IN Equity,TDPS IN Equity,GLIN IN Equity,JINW IN Equity,SRTY IN Equity,HEIM IN Equity,MAXF IN Equity,VIP IN Equity,GNP IN Equity,...,BLUEJET IN Equity,CELLO IN Equity,HONASA IN Equity,MAXESTAT IN Equity,PROTEAN IN Equity,FEDFINA IN Equity,GANDHAR IN Equity,DOMS IN Equity,MUFTI IN Equity,INNOVACA IN Equity
2024Q1,WLCO IN Equity,CTE IN Equity,TDPS IN Equity,GLIN IN Equity,JINW IN Equity,SRTY IN Equity,HEIM IN Equity,MAXF IN Equity,VIP IN Equity,GNP IN Equity,...,BLUEJET IN Equity,CELLO IN Equity,HONASA IN Equity,MAXESTAT IN Equity,PROTEAN IN Equity,FEDFINA IN Equity,GANDHAR IN Equity,DOMS IN Equity,MUFTI IN Equity,INNOVACA IN Equity

In [96]:
mcap_mapping_quarterly.to_excel('processed data/quarterly market cap mapping.xlsx')

In [3]:
import pandas as pd
outstanding = pd.read_csv('Input Files/outstanding_shares.csv')
outstanding

,Dates,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
0,31-01-2002,NaN,167.678,NaN,NaN,NaN,101.184,185.546,673.920,11.274,...,50.281,0.552,47.335,10.1,86.000,10.5,NaN,NaN,NaN,3.975
1,28-02-2002,NaN,167.678,NaN,NaN,NaN,101.184,185.546,673.920,11.274,...,50.281,0.552,47.335,10.1,86.000,10.5,NaN,NaN,NaN,3.975
2,28-03-2002,NaN,167.678,NaN,NaN,3.90,101.184,185.546,673.920,11.274,...,50.281,0.552,47.335,10.1,86.000,10.5,NaN,NaN,NaN,3.975
3,30-04-2002,NaN,167.678,NaN,NaN,3.90,101.184,185.546,673.889,11.274,...,50.281,0.552,47.335,10.1,86.000,10.5,NaN,NaN,NaN,3.975
4,31-05-2002,NaN,167.678,NaN,NaN,3.90,101.184,185.546,673.889,11.274,...,50.281,0.552,47.335,10.1,86.000,10.5,NaN,NaN,NaN,3.975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,29-09-2023,172.152,1093.440,18.65,668.000,587.06,111.294,605.919,562.042,7.018,...,8293.963,4.761,88.890,12.5,171.999,17.0,136.023,0.307,45.532,5.975
261,31-10-2023,172.152,1093.440,18.65,668.229,587.06,111.294,605.919,562.042,7.018,...,8293.963,4.761,88.890,12.5,171.999,17.0,136.023,0.307,45.532,5.975
262,30-11-2023,172.152,1093.440,18.65,668.356,587.06,111.294,618.023,562.042,7.018,...,8293.963,4.761,88.890,12.5,171.999,17.0,136.023,0.307,46.952,5.975
263,29-12-2023,172.152,1093.440,18.65,668.609,587.06,111.294,618.023,562.042,7.018,...,8293.963,4.761,88.890,12.5,171.999,17.0,136.023,0.307,46.952,5.975
264,31-01-2024,172.152,1093.440,18.65,668.609,587.06,111.294,618.023,562.042,7.018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
outstanding['Dates'] = pd.to_datetime(outstanding['Dates'])
outstanding.set_index('Dates', inplace=True)

outstanding['quarter'] = outstanding.index.to_period('Q')

outstanding_q = outstanding.resample('Q').last()
outstanding_q.set_index('quarter', inplace=True)
outstanding_q

,MCNA IN Equity,TATASTL IN Equity,TVSEL IN Equity,AUBANK IN Equity,KAF IN Equity,BJHI IN Equity,BAF IN Equity,ENGR IN Equity,KEYFINSE IN Equity,KSOLVES IN Equity,...,CALS IN Equity,GGD IN Equity,BLSA IN Equity,MINFS IN Equity,MPCH IN Equity,PDMT IN Equity,ERIS IN Equity,YSL IN Equity,WSI IN Equity,RSDE IN Equity
quarter,,,,,,,,,,,,,,,,,,,,,
2002Q1,NaN,167.678,NaN,NaN,3.90,101.184,185.546,673.920,11.274,NaN,...,50.281,0.552,47.335,10.1,86.000,10.5,NaN,NaN,NaN,3.975
2002Q2,NaN,167.678,NaN,NaN,3.90,101.184,185.546,673.889,11.274,NaN,...,50.281,0.552,47.335,10.1,86.000,10.5,NaN,NaN,15.990,3.975
2002Q3,NaN,167.678,NaN,NaN,3.90,101.184,185.546,673.889,11.274,NaN,...,50.281,0.529,47.335,10.1,86.000,10.5,NaN,NaN,15.990,3.975
2002Q4,NaN,167.678,NaN,NaN,3.90,101.184,185.546,673.889,11.274,NaN,...,50.281,0.529,47.335,10.1,86.000,10.5,NaN,NaN,15.990,3.975
2003Q1,NaN,167.678,NaN,NaN,3.90,101.184,185.546,673.889,11.274,NaN,...,50.281,0.529,47.335,10.1,86.000,10.5,NaN,NaN,15.990,3.975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023Q1,172.152,1093.440,18.65,666.745,587.06,111.294,605.429,562.042,7.018,11.856,...,8293.963,4.761,88.890,12.5,171.999,17.0,135.992,0.307,37.250,5.975
2023Q2,172.152,1093.440,18.65,666.931,587.06,111.294,605.919,562.042,7.018,11.856,...,8293.963,4.761,88.890,12.5,171.999,17.0,135.993,0.307,41.802,5.975
2023Q3,172.152,1093.440,18.65,668.000,587.06,111.294,605.919,562.042,7.018,11.856,...,8293.963,4.761,88.890,12.5,171.999,17.0,136.023,0.307,45.532,5.975
2023Q4,172.152,1093.440,18.65,668.609,587.06,111.294,618.023,562.042,7.018,11.856,...,8293.963,4.761,88.890,12.5,171.999,17.0,136.023,0.307,46.952,5.975
2024Q1,172.152,1093.440,18.65,668.609,587.06,111.294,618.023,562.042,7.018,11.856,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
outstanding_q.to_excel('processed data/quarterly outstanding shares.xlsx')

In [34]:
bse = pd.read_csv('Input Files/bse100.csv')
bse

                  Date     Close
0      01 January 2004   1708.76
1     01 February 2004   1695.91
2        01 March 2004   1720.46
3        01 April 2004   1754.58
4          01 May 2004   1464.70
..                 ...       ...
248  01 September 2024  27338.60
249    01 October 2024  25526.30
250   01 November 2024  25546.61
251   01 December 2024  25061.75
252    01 January 2025  24311.95

[253 rows x 2 columns]

In [44]:
bse = pd.read_csv('Input Files/bse100.csv')

bse['Date'] = pd.to_datetime(bse['Date'])
bse.set_index('Date', inplace=True)

bse['quarter'] = bse.index.to_period('Q')

bseq = bse.resample('Q').last()

bseq.set_index('quarter', inplace=True)

In [47]:
bseq.to_excel('processed data/quarterly bse100.xlsx')

In [4]:
import pandas as pd
price = pd.read_excel('clean data/quarterly price.xlsx')
os = pd.read_excel('clean data/quarterly outstanding shares.xlsx')
price.set_index('quarter', inplace=True)
os.set_index('quarter', inplace=True)

In [5]:
mcap = price * os

In [10]:
mcap.to_excel('clean data/quarterly market cap.xlsx')